<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>

    <p>
      Splurty was built by <a target="_blank" href="http://github.com/mcv1993">Marc</a>.  Working to take over the world.
    </p>

    <br />

    <p>
      One class at a time, gaining knowledge.
    </p>

    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-12 col-sm-4">
            <%= image_tag 'image1.jpg', class: 'img-fluid' %>
        </div>

        <div class="col-12 col-sm-7 offset-sm-1">
            <h2 class="text-center">Firstname Lastname</h2>
            <br />
            <p>
              MCV is a soon to be web dev.....etc. blah
            </p>
          </div>
        </div>
        <br class="clear" />

        <div class="row">
          <div class="col-12 col-sm-4" style="passing-top:30px;">
            <%= image_tag 'image2.jpg', class: 'img-fluid' %>
          </div>

          <div class="col-12 col-sm-7 offset-sm-1">
              <h2 class="text-center">MCV#2</h2>
              <br />
              <p>
                Person #2 is great...blah blah
              </p>
          </div>
        </div>


</div>

<br class="clear" />
<br />
<br />
<br />
